{% layout 'layout.liquid' %}
{% block content %}
  {% if teas.length > 0 %}
  <div>
    <h2 class="display-6">All Teas</h2>
    <div class="row">
      {% for tea in teas %}
        <div class="card" style= "18rem;">
          <h5 class="card-header">{{tea.name}}
          </h5>
          <div class="card-body">
            <h5 class="card-title">
              {% if tea.caffinated %}
                Caffinated
              {% else %}
                Caffiene Free
              {% endif %}
            </h5>
            <p class="card-text">This tea must be steeped for
              {{ tea.minutesBrew }}
              minutes at
              {{ tea.brewTemp }}
              degrees.
            </p>
            <a class="btn btn-info" href="/teas/{{tea.id}}">
              View
              {{tea.name}}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <div>
      <h2 class="display-6"> No teas yet...time to add some!</h2>
    </div>
  {% endif %}  
{% endblock %}