{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>{{tea.name}}</h2>
            <h4>
                {% if tea.caffinated %}
                    Caffinated
                {% else %}
                   Caffiene Free
                {% endif %}
            </h4>
            <h4>This tea must be steeped for
              {{ tea.minutesBrew }}
              minutes at
              {{ tea.brewTemp }}
              degrees.</h4>
            {% if tea.owner == userId %}
                <div class="btn-group">
                    {%- comment -%} first button will send us to the edit page {%- endcomment -%}
                    <a class="btn btn-primary" href="/teas/edit/{{tea.id}}">Edit</a>
                    {%- comment -%} the second button(which will actually be a form, will send a DELETE request) {%- endcomment -%}
                    <form action="/teas/{{tea.id}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            {% endif %}
        </article>
        <hr>
        <h4>reviews</h4>
        <hr>
        {% if loggedIn %}
            <div class="col-md-6">
                <form action="/review/{{tea.id}}" method="POST">
                    <fieldset>
                        <legend>Add Review</legend>
                        <label class="form-label">review:</label>
                        <input class="form-control mb-1" type="text" value="enter your review..." name="review">
                    </fieldset>
                    <input class="btn btn-success" type="submit" value="add review">
                      <fieldset>
                        <legend>Add Rating</legend>
                        <label class="form-label">rating:</label>
                        <input class="form-control mb-1" type="number" value="rate the tea 1-5" name="rating" required>
                    </fieldset>
                    <input class="btn btn-success" type="submit" value="add rating">
                </form>
            </div>
        {% else %}
            <div class="col-md-6">
                <small>If you'd like to leave a review, please log in...</small>
            </div>
        {% endif %}
        <hr>
        {% if tea.reviews.length > 0%}
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                    {% for review in tea.reviews %}
                        {% render '../review.liquid', review: review, userId: userId, tea: tea %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <small>be the first to leave a review</small>
        {% endif %}
    </div>
{% endblock %}